<% provide :title, t("authenticate.edituser")%>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <div class="alert-info"><%= devise_error_messages! %></div>

  <div class="form-group has-success">
    <%= f.label :fullname , class:"control-label"%><br />
    <%= f.text_field :fullname, autofocus: true, class:"form-control" %>
  </div>

  <div class="form-group has-success">
    <%= f.label :birthday, class:"control-label" %><br />
    <%= f.date_field :birthday, autofocus: true, class:"form-control" %>
  </div>

  <div class="form-group has-success">
    <%= f.label :address, class:"control-label" %><br />
    <%= f.text_field :address, autofocus: true, class:"form-control" %>
  </div>

  <div class="form-group has-success">
    <%= f.label :phone, class:"control-label" %><br />
    <%= f.text_field :phone, autofocus: true, class:"form-control" %>
  </div>

  <div class="form-group has-success">
    <%= f.label :email, class:"control-label" %><br />
    <%= f.email_field :email, autofocus: true, class:"form-control" %>
  </div>

  <div class="form-group has-success">
    <%= f.label :password, class:"control-label" %> <i><%= t"authenticate.password"%></i><br />
    <%= f.password_field :password, autocomplete: "off", class:"form-control" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="form-group has-success">
    <%= f.label :password_confirmation, class:"control-label" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control" %>
  </div>

  <div class="form-group has-success">
    <%= f.label :current_password, class:"control-label" %> <i><%= t"authenticate.currentpass"%></i><br />
    <%= f.password_field :current_password, autocomplete: "off", class:"form-control" %>
  </div>

  <div class="form-group has-success">
    <%= f.label :role, class:"control-label" %><br />
    <%= f.text_field :role, autofocus: true, class:"form-control" %>
  </div>

  <div class="col-md-offset-5">
    <%= f.submit t("authenticate.update"), class:"btn btn-success" %>
  </div>
<% end %>
<%= link_to t("authenticate.back"), :back %>
