<% provide :title, t("static_pages.list_cate") %>
<div class="container-fluid">
  <a href="#" class="navbar-brand"><%= t "category.search_cate" %></a>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
    <%= search_form_for @search, url: admin_categories_path,
      class:"navbar-form navbar-left" do |f| %>
      <div class="form-group">
        <%= f.search_field :name_cont, autofocus: true, class:"form-control" %>
      </div>
      <%= f.submit t("action.search"), class:"btn btn-success" %></th>
    <% end %>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title"><%= t "static_pages.list_cate" %></h3>
  </div>
  <div class="panel-body">
    <table class="table table-bordered table-striped table-hover">
      <thead>
        <tr>
          <th><%= sort_link @search, :name, t("category.cate") %></th>
          <th><%= sort_link @search, :created_at, t("category.create_at") %></th>
          <th colspan="2"></th>
        </tr>
      </thead>
      <%= render partial: "category", collection: @categories %>
    </table>
  </div>
  <%= will_paginate @categories %>
</div>
<%= link_to t("category.new_cate"), new_admin_category_path %>
<br>
