<% provide :title, t("static_pages.show_user") %>
<div class="row">
  <div class="col-md-5  toppad  pull-right col-md-offset-3 ">
    <p class=" text-info"><%= t "manage_user.paner_time" %></p>
  </div>
  <div class="col-xs-6 col-sm-3 sidebar-offcanvas margin-top-menuleft">
    <div class="sidebar-nav">
      <ul class="nav">
        <li><%= @user.fullname %> -> <%= t "manage_user.followeing" %></li>
        <li><a href="#"><%= t "manage_user.activity" %></a></li>
        <li><a href="#"><%= t "manage_user.activity" %></a></li>
        <li><a href="#"><%= t "manage_user.activity" %></a></li>
        <li><a href="#"><%= t "manage_user.activity" %></a></li>

        <li><%= t "manage_user.follower" %> -> <%= @user.fullname %></li>
        <li><a href="#"><%= t "manage_user.activity" %></a></li>
        <li><a href="#"><%= t "manage_user.activity" %></a></li>
        <li><a href="#"><%= t "manage_user.activity" %></a></li>
        <li><a href="#"><%= t "manage_user.activity" %></a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-6 toppad" >
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title"><%= t "manage_user.profile" %></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic"
            src="http://babyinfoforyou.com/wp-content/uploads/2014/10/avatar-300x300.png"
            class="img-circle img-responsive"> </div>
          <div class=" col-md-9 col-lg-9 ">
            <table class="table table-user-information">
              <tbody>
                <tr>
                  <td><%= t "manage_user.departmant" %></td>
                  <td><%= t "manage_user.programming" %></td>
                </tr>
                <tr>
                  <td><%= t "manage_user.date_of_birth" %></td>
                  <td><%= @user.birthday %></td>
                </tr>
                <tr>
                  <td><%= t "manage_user.gender" %></td>
                  <td><%= t "manage_user.female" %></td>
                </tr>
                <tr>
                  <td><%= t "manage_user.address" %></td>
                  <td><%= @user.address %></td>
                </tr>
                <tr>
                  <td><%= t "manage_user.email" %></td>
                  <td><a href="#"><%= @user.email %></a></td>
                </tr>
                <tr>
                  <td><%= t "manage_user.phone_number" %></td>
                  <td><%= @user.phone %><br><br><%= t "manage_user.phone_mobile" %></td>
                </tr>
              </tbody>
            </table>
            <a href="#" class="btn btn-primary"><%= t "manage_user.my_sale" %></a>
            <a href="#" class="btn btn-primary"><%= t "manage_user.team_sale" %></a>
          </div>
        </div>
      </div>
        <div class="panel-footer">
          <a data-original-title="Broadcast Message" data-toggle="tooltip" type="button"
            class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-envelope"></i></a>
          <span class="pull-right">
            <a href="#" data-original-title="Edit this user" data-toggle="tooltip"
              type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
            <a data-original-title="Remove this user" data-toggle="tooltip" type="button"
              class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
          </span>
        </div>
    </div>
  </div>

  <div class="col-xs-6 col-sm-3 sidebar-offcanvas margin-top-menuleft">
    <div class="well sidebar-nav">
      <ul class="nav">
        <li><%= t "manage_user.user_activity" %> : <%= @user.fullname %></li>
        <li><a href="#"><%= t "manage_user.activity" %></a></li>
        <li><a href="#"><%= t "manage_user.activity" %></a></li>
        <li><a href="#"><%= t "manage_user.activity" %></a></li>
        <li><a href="#"><%= t "manage_user.activity" %></a></li>
        <li><a href="#"><%= t "manage_user.activity" %></a></li>
        <li><a href="#"><%= t "manage_user.activity" %></a></li>
        <li><a href="#"><%= t "manage_user.activity" %></a></li>
        <li><a href="#"><%= t "manage_user.activity" %></a></li>
      </ul>
    </div>
  </div>
</div>
